###
# Variables used in development environments
###
DB_PORT=54321
MINIO_PORT=9000

# Point to the local Minio instance, removing this will make it attempt to connect to Amazon S3
AWS_S3_ENDPOINT=http://localhost:9000

###
# Variables used inside the app
###
DATABASE_URL=postgresql://backend:backend@localhost:54321/backend?schema=public
NEXT_PUBLIC_SUPABASE_URL=https://weniqakkkidaelyfjelj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTYyMjkwNTcwOCwiZXhwIjoxOTM4NDgxNzA4fQ.wRw3KJ4aXVu2kmzqKovtLMz5f9VnYqtPMF8tMSDDSiQ

# S3 Config
AWS_ACCESS_KEY_ID=horusdevs3
AWS_SECRET_ACCESS_KEY=horusdevs3
AWS_REGION=us-west-2
AWS_S3_BUCKET=horus-dev

