.projectCard {
  position: relative;
  background-size: cover;

  @apply block h-auto shadow-sm text-gray-400 p-6 bg-center duration-200 ease-in-out;

  transition-property: color, box-shadow, background;

  $bg-base: linear-gradient(
    0deg,
    black 10%,
    transparent 30%,
    transparent 70%,
    black 90%
  );

  @screen xsm {
    background-image: $bg-base, url('/images/atom/lg.jpg');
  }

  @screen md {
    background-image: $bg-base, url('/images/atom/lg.jpg');
  }

  @screen lg {
    @apply py-64;
    background-image: $bg-base, url('/images/atom/lg.jpg');
  }

  &:hover,
  &:focus {
    @apply text-white shadow-lg;

    @screen md {
      @apply shadow-xl;
    }
  }
}

.overlay {
  @apply absolute h-full w-full left-0 top-0 bg-black bg-opacity-75;

  backdrop-filter: blur(5px);
}

.content {
  @apply flex flex-col justify-center items-center;

  @screen lg {
    @apply flex-row;
  }
}

.title {
  @apply font-bold tracking-wide text-lg;

  @screen xsm {
    @apply text-2xl;
  }

  @screen md {
    @apply text-4xl;
  }
}

.description {
  @apply block tracking-wide pt-2 font-light text-base;

  opacity: 0.8;

  @screen xsm {
    @apply text-lg pt-4;
  }

  @screen md {
    @apply text-2xl pt-6;
  }
}

.device {
  @apply hidden flex-grow-0 py-5 px-3 shadow-xl rounded-lg duration-300 ease-in-out;

  transition-property: box-shadow, transform, opacity, backdrop-filter;

  backdrop-filter: blur(4px);
  transform: scale(0.9);
  opacity: 0.9;

  @screen md {
    @apply block;
  }

  @screen lg {
    @apply ml-10;
  }

  &.full {
    @apply fixed top-0 left-0 ml-0 pt-24 pb-20 px-12 cursor-pointer bg-black bg-opacity-75 rounded-none;

    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
  }

  &:hover,
  &.full {
    @apply shadow-2xl;

    transform: scale(1);
    opacity: 1;
  }

  .close {
    @apply flex fixed items-center text-white text-2xl p-4 -mt-20 select-none;

    right: 3rem;

    span {
      @apply pr-4 font-light;
    }

    svg {
      @apply w-8 h-8;
    }
  }
}

.frame {
  @apply hidden flex-grow-0 rounded-md;

  @screen md {
    @apply block;
  }

  width: 100%;
  height: 100%;

  &.fake {
    min-width: 360px;
    min-height: 640px;
    max-width: 360px;
    max-height: 640px;
  }
}

.frameControls {
  @apply hidden absolute;

  @screen md {
    @apply block;
  }

  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  will-change: height, width, top, left;
  transform: scale(0.9) translate3d(0, 0, 0);
  width: 0;
  height: 0;

  &.lockHover {
    transform: scale(1) translate3d(0, 0, 0);
  }

  &:not(.lockHover) {
    &:hover,
    &:focus,
    &:focus-within {
      transform: scale(1) translate3d(0, 0, 0);
    }
  }
}
