@import 'variables.scss';

.mde-textarea-wrapper {
  position: relative;

  textarea.mde-text {
    width: 100%;
    border: 0;
    vertical-align: top;
    resize: none;
    overflow-y: hidden;
    height: 1em;

    @apply outline-none font-mono bg-transparent;
  }
}
